{% extends 'partials/base.html' %}
{% load static %}
{% load currency_filter %}

{% block main %}


<!-- Start Cart Page -->
        <div class="cart-page-area ptb-120 pb-5">
            <div class="container">
                {% if cart %}
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Name</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="#"><img class="rounded-1" src="{{ item.menu_item.image.url }}" alt="image">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">{{ item.menu_item.name }}</a>
                                </td>
                                <td class="product-price">

                                    {% if item.product.percentage_discount %}
                                    <span class="amount">
                                                    {{ item.menu_item.discounted_price | naira }}
                                    </span>
                                    <del>{{ item.menu_item.price | naira }}</del>
                                    {% else %}
                                    <span class="amount">{{ item.menu_item.price | naira }}</span>
                                    {% endif %}
                                </td>
                                <td class="product-quantity">
                                    <div class="quantity-selector m-0">
                                        <button class="decrement qty-left-minus qtyminus"
                                                data-type="minus" data-field=""
                                                data-index="{{ item.menu_item.id }}"
                                                data-url="{% url 'update_cart' %}">-</button>

                                        <input type="text" class="qty-input" id="select{{ item.menu_item.id }}" value="{{ item.quantity }}" min="1">

                                        <button class="increment qty-right-plus qtyplus"
                                                data-type="plus" data-field=""
                                                data-index="{{ item.product.id }}"
                                                data-url="{% url 'update_cart' %}">+</button>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span class="amount">{{item.total_price | naira}}</span>
                                </td>
                                <td class="product-remove">


                                    <button
                                            data-remove-url="{% url 'remove_from_cart' %}"
                                            id="cart-btn-{{item.menu_item.id}}"
                                            class="remove btn close_button in-cart addcart-button"
                                            data-menu-item-id="{{item.menu_item.id}}"
                                    >
                                        <i class="ti ti-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

<!--                <div class="cart-buttons w-100 mt-5">-->
<!--                    <div class="row align-items-center g-4">-->
<!--                        <div class="col-lg-8 col-md-9">-->
<!--                            <div class="row g-4">-->
<!--                                <div class="col-lg-8 col-md-7">-->
<!--                                    <div class="continue-shopping-box"><input type="text" class="form-control" placeholder="Coupon Code">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-4 col-md-5">-->
<!--                                    <div class="continue-shopping-box"><button type="submit" class="default-btn">Apply Coupon</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-3">-->
<!--                            <div class="update-cart-box text-lg-end">-->
<!--                                <a href="checkout.html" class="default-btn">Update Cart</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                {% else %}
                    <h5>There are no items in your cart</h5>
                {% endif %}
            </div>
        </div>
        <!-- End Cart Page -->
         {% if cart %}
        <!-- Start Checkout Summary Area -->
        <div class="checkout-summery-area pb-120">
            <div class="container">
                <div class="summery-content bg-f3f3f3 p-lg-5 p-4 mx-auto br-10" style="max-width: 550px;">
                    <div class="summery-icon br-10">
                        <h3 class="fs-30 fw-semibold lh-1 mb-4">
                            Cart Totals</h3>
                        <ul class="ps-0 pe-0 mb-0 list-unstyled">
                            <li>
                                Cart Subtotal <span class="float-end">{{cart.get_total_cost | naira}}</span>
                            </li>
                            {% if order_type != "Dine In" %}
                            <li>
                                Delivery Fee <span class="float-end">Will be calculated at checkout</span>
                            </li>
                            {% endif %}
                            <li>
                                Total <span class="float-end">{{cart.get_total_cost | naira}}</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="{% url 'checkout' %}" class="default-btn mt-4">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- End Checkout Summary Area -->
        {% endif %}

{% endblock main %}