{% extends 'partials/base.html' %}
{% load static %}

{% block main %}

        <!-- Start Address Area -->
         <div class="Address-area ptb-120">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="Address-items">
                            <h2 class="mb-4 fs-30">Contact With Us</h2>
                            <div class="single-Address-card d-flex align-items-center gap-4 mb-4">
                                <div class="icon">
                                    <i class="ti ti-phone"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Phone:</h4>
                                    <a href="tel:1234567890" class="c-555">+123 456 7890</a>
                                    <a href="tel:1234567890" class="c-555">+123 456 7890</a>
                                </div>
                            </div>
                            <div class="single-Address-card d-flex align-items-center gap-4 mb-4 style-1">
                                <div class="icon">
                                    <i class="ti ti-mail"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Email:</h4>
                                    <a href="mailto:hello@feedo.com" class="c-555">hello@feedo.com</a>
                                    <a href="mailto:hello@feedo.com" class="c-555">hello@feedo.com</a>
                                </div>
                            </div>
                            <div class="single-Address-card d-flex align-items-center gap-4">
                                <div class="icon">
                                    <i class="ti ti-map"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Address:</h4>
                                    <a href="https://maps.app.goo.gl/byqdjUd9y3yP5oh96" target="_blank">123 Main Street, Suite 500, New York</a>
                                    <a href="https://maps.app.goo.gl/byqdjUd9y3yP5oh96" target="_blank">123 Main Street, Suite 500, New York</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="leave-card">
                            <form class="contact-card1">
                                <h2 class="mb-4 fs-30">Send Us A Message</h2>
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="number" class="form-control" placeholder="Your Phone">
                                    </div>
                                </div>
                                <textarea class="form-control mb-4 mt-4" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                                <div class="m-btn d-inline-block">
                                    <button type="submit" class="default-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- End Address Area -->
         
        <!-- Start Map Area -->
        <div class="map-area bg-rgb">
            <div class="container-fluid">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30813592.438692946!2d89.58144805510828!3d-19.48034877240034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2sbd!4v1746953943015!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
        <!-- End Map Area -->


{% endblock main %}