{% extends 'partials/base.html' %}
{% load static %}

{% block main %}

        <!-- Start Address Area -->
         <div class="Address-area ptb-120">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="Address-items">
                            <h2 class="mb-4 fs-30">Contact With Us</h2>
                            <div class="single-Address-card d-flex align-items-center gap-4 mb-4">
                                <div class="icon">
                                    <i class="ti ti-phone"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Phone:</h4>
                                    <a href="tel:{{app_config.app_phone_number}}" class="c-555">{{app_config.app_phone_number}}</a>
                                </div>
                            </div>
                            <div class="single-Address-card d-flex align-items-center gap-4 mb-4 style-1">
                                <div class="icon">
                                    <i class="ti ti-mail"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Email:</h4>
                                    <a href="mailto:{{app_config.app_email}}" class="c-555">{{app_config.app_email}}</a>
                                </div>
                            </div>
                            <div class="single-Address-card d-flex align-items-center gap-4">
                                <div class="icon">
                                    <i class="ti ti-map"></i>
                                </div>
                                <div class="content">
                                    <h4 class="fs-24 fw-bold mb-2">Address:</h4>
                                    <a href="{{app_config.app_google_address_link}}" target="_blank">{{app_config.app_address}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="leave-card">
                            <form class="contact-card1">
                                <h2 class="mb-4 fs-30">Send Us A Message</h2>
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="number" class="form-control" placeholder="Your Phone">
                                    </div>
                                </div>
                                <textarea class="form-control mb-4 mt-4" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                                <div class="m-btn d-inline-block">
                                    <button type="submit" class="default-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- End Address Area -->
         
        <!-- Start Map Area -->
        <div class="map-area bg-rgb">
            <div class="container-fluid">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.874541795928!2d8.324033474191696!3d4.96051683935207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10678636a76a1d97%3A0x54d544a59b313959!2sSPAR%20Market%20Calabar%20Mall!5e0!3m2!1sen!2sng!4v1775078830878!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <!-- End Map Area -->


{% endblock main %}