{% extends 'partials/base.html' %}
{% load static %}

{% block main %}

<!-- Start 404 Error page -->
        <div class="error-area pb-120 pt-100">
            <div class="container">
                <div class="error-content-wrap">
                    <img class="error-image mb-5" src="{% static 'assets/images/error-image.png' %}" alt="image" style="max-width: 500px;">
                    <h4 class="fs-32 fw-bold lh-1">Server Error</h4>

                    <p>Oops!!! We just encountered a server error, it's not your fault. <br>
                    Please contact support if this issue still persists.</p>

                    <a href="{% url 'home' %}" class="default-btn">Go To Homepage</a>
                </div>
            </div>
        </div>
        <!-- End 404 Error page -->

{% endblock main %}