{% extends 'partials/base.html' %}
{% load static %}

        {% block main %}

        <!-- Start My Account Area -->
        <div class="my-account-page ptb-120 overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <form class="login-form br-10" method="POST">
                            {% csrf_token %}
                            <h2>Forgot Your Password? We got you!!!</h2>

                            <input type="email" class="form-control mb-4" placeholder="Email" name="email" required>

                            <div class="d-md-flex gap-5 align-items-center justify-content-between mt-4">

                                <a href="{% url 'login' %}" class="password">
                                    Login
                                </a>
                            </div>

                            <button type="submit" class="default-btn d-inline-block mt-4">
                                Reset Password
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

<!-- End My Account Area -->


    {% endblock main %}